<%= content_for :styles do %>
	<%= stylesheet_link_tag "functionalities" %>
<% end -%>

<%= render "functionalities/labels" %>

<span id='label-<%= @f.id %>' class='label label-<%= foo_color @f %>'><a href='/functionalities/<%= @f.id%>'><%= @f.say %></a></span>

<div class='f_foo'>
	<div class="progress progress-info progress-striped active">
		<div class="bar" style="width: <%= @f.progress %>%;"></div>
	</div>

	<span class='f_progress_chooser'>
		<a data-val='0' data-id='<%= @f.id%>'>0%</a> |
		<a data-val='20' data-id='<%= @f.id%>'>20%</a> |
		<a data-val='40' data-id='<%= @f.id%>'>40%</a> |
		<a data-val='60' data-id='<%= @f.id%>'>60%</a> | 
		<a data-val='80' data-id='<%= @f.id%>'>80%</a> | 
		<a data-val='100' data-id='<%= @f.id%>'>100%</a> 
	</span>
</div>
